*.png
*.bak
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
*.html
*.bsf
*.ptf.*
*.elf
*.map
*.objdump
obj
*.swp
*.a
nios_workspace
/db
/simulation
/incremental_db
/output_files
/.sopc_builder
/sopc_builder_log.txt
/nios_system_log.txt
/.metadata 
